@font-face {
    font-family: 'ABCGaisyr';
    font-style: normal;
    font-weight: 400;
    src: url('../font/ABCGaisyr.woff') format('woff');
}

.text {
    font-family: 'ABCGaisyr';
    font-style: normal;
    font-weight: 400;

    color: #000000;
    letter-spacing: -1px;

    font-size: 18px;

    text-align: left;

}

.ascii {
    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    
    white-space: pre;
    line-height: 100%;

}

.logo{
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.text-container {
    position: absolute;
    display: flex;

    width: 100dvw;
    
    padding: 10px;

}

.menu {
    opacity: 1;
    
    position: fixed;
    top: 1%;
    left: 1%;

    width: 150px;
    gap: 4px;

    display: flex;
    justify-content: left;
    flex-direction: column;

    z-index: 100;
}

#main-menu{
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 2.3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.menu-item:hover {
    text-decoration: line-through;
}

.menu-item {
    width: 100%;
    padding: 0 1% 0 0 ;
}

a{
    text-decoration: none;}

.here{
    text-decoration: line-through;}